@layout('main')
@section('content')
<body>
  @include('inc/navbar')

  <form name = "createEstimates" method="POST" action="/EstimateController/create">
      @include('estimate')

      console.log({{ auth.user }})
      <form method="get" action="/flight">
        <input type="submit" value="Return to list" class="btn btn-caution" />
      </form>
  </form>
@endsection
</body>
