@layout('master')
@section('content')

  <form class="auth__form" method="POST" action="{{ route('auth.resend') }}">

    {{ csrfField() }}

    <div class="auth__field">
      <label type="email">Email</label>
      <input type="text" id="email" name="email"></input>
    </div>

    <div class="auth__field">
      <input type="submit" value="Resend confirmation"></input>
    </div>

  </form>

@endsection