html {
  height: 100%;
}

body {
  min-height: 100%;
}

body {
  background-image: url("/splash.png");
  background-repeat: repeat-y !important;
  background-repeat: repeat-x !important;
  background-color: #220052 !important;
}

a {
  color: #007bff;
}
