@layout('master')

@section('content')
<body>
        @include('inc/navbar')
      
        <form name = "editEstimates" method="POST" action="/EstimateController/edit">
            @include('estimate')
        </form>
@endsection
</body>

